*{
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(65, 7, 118);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#center{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

h1:hover{
    cursor: pointer;
    color: rgb(149, 17, 129);
}